<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://w0.peakpx.com/wallpaper/289/986/HD-wallpaper-video-game-the-last-of-us-part-ii-ellie-the-last-of-us-joel-the-last-of-us-the-last-of-us.jpg"
      height="200px"
      alt=""
    />
  </div>

  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do blog</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
        corrupti provident aspernatur laborum soluta natus voluptates quos
        quisquam incidunt eaque, vel ullam ea saepe magni, laudantium mollitia
        culpa! Accusantium, nostrum?
      </a>
    </p>
  </div>
</div>
