<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://hbomax-images.warnermediacdn.com/images/GXXAcxwJukqnCVgEAAAEG/tile?size=640x360&partner=hbomaxcom&v=2ff7e72266e766a9a97781201c545ec9&host=art-gallery.api.hbo.com&language=pt-br"
        alt=""
      />
    </div>

    <div class="small-card__title">
      <h1>
        <a href="#">Nova versão do Angular</a>
      </h1>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
